.inputRow {
  display: flex;
  align-items: stretch;
  margin-top: 0.5rem;
}

.inputRow input {
  width: 100%;
  flex-shrink: 1;
}

.inputRow button {
  padding: 0 1rem;
}

.error {
  margin-top: 0.5rem;
  color: darkred;
}
