.expList ul {
  margin-top: 1rem;
}

.emptyList {
  text-align: center;
}

.expList > button {
  display: block;
  margin: 1rem auto 2rem auto;
}

.buttons {
  display: flex;
  justify-content: center;
}
